@page
@model FirstWeb.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<html>
    <head>

    <link href="~/assets/img/css/site.css" rel="stylesheet" />

    </head>
<body>

    <img src="~/assets/img/img_ele.jpg" ><br />
    <p>
        <h4>OUR PLANET’S WILDLIFE IS IN CRISIS</h4><br />
        The millions of different species on our planet are essential for so many of the most important things in our lives.

        This complex web of life provides the natural systems we depend on – from clean air and water to fertile soils and a stable climate.<br/> It gives us food, medicines and materials, and supports millions of jobs. And it also inspires us, making our lives richer in so many ways.

        But our planet’s wildlife is in crisis – numbers have fallen by more than half since 1970, and species are becoming extinct at an alarming rate.

        We need to reverse this loss of nature and create a future where wildlife and people thrive again.
    </p>
     <br /><br />
    <h3> THE FINEST PLACES TO SEE WILDLIFE IN SRI LANKA </h3>
    <br />
    <h4>01.Yala National Park </h4>
    <img src="~/assets/img/tgr.jpg">
    <br />
    <p> 
        Located on Sri Lanka’s south east coast and established as a protected area in 1938, Yala National Park is a large reserve with a mixture of habitats ranging from open parkland and dense jungle, to a myriad of flooded lagoons and high coastal sand dunes.</br> This varied terrain supports a wide range of flora and fauna.

        The popular Yala National Park is believed to have the world’s highest concentration of leopards. <br />The average density of these majestic creatures is as high as one cat to every square kilometre, although sightings of the elusive leopard are still rare. Other animals you might spot whilst in Yala include both sambar and spotted deer, wild boar, crocodile, langur and toque monkey, golden jackal and even the sloth bear during June and July when the palu tree fruits. Birdlife is also abundant here with over 200 species recorded and the reserve is a perfect combination of freshwater, marine, scrub and woodland areas for the diversity of birds.


    </p>

    <h4>02.Udawalawe National Park </h4>
    <img src="~/assets/img/bd.jpg"><br />
    <p>
        Udawalawe National Park just south of Sri Lanka’s central mountains, is a large reserve made up of 119 square miles of grassland, scrub jungle and riverine forest. The main attraction of the park is the large concentration of Asian elephants found here, Udawalawe is home to over 400 of these gentle giants and it is almost guaranteed to see them whilst on safari. <br /><br />A favourite hangout for the herds of elephants is the Walawe Reservoir where the creatures come to drink during times of water scarcity.

        Udawalawe National Park is also home to some other exciting wildlife including the mugger crocodile, sambar, spotted and barking deer, wild boar, water buffalo and jackal whilst the birding is excellent with nearly 200 species recorded. <br />November to March is the optimal time for birdwatching expeditions with the chance to spot exciting raptors such as the changeable hawk-eagle, serpent eagle and grey-headed fish eagle.

    </p>
</body>
    </html>
