@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
    <head>
    <link href="~/assets/img/css/homesheet.css" rel="stylesheet" />


    </head>

<div class="text-center">
    <h1 class="display-4"><b>WILD LIFE OF SRI LANKA</b></h1>
    <p> FOR MORE... <a href="https://www.dwc.gov.lk/">VISIT NATURE  OF SRI LANKA  </a></p><br />
</div>

<h2>We Protect the Biodiversity of Sri Lanka</h2>
<br />
<p>
    <img src="~/assets/img/imgwl.jpeg"/> <br /><br />
    We Protect the Biodiversity of Sri Lanka
    The Department of Wildlife Conservation Conserves the Biodiversity of Sri Lanka. Every individual species is provided legal protection through the Fauna and Flora Protection Ordinance No 2 of 1937.

    Habitats and the associated biodiversity are protected through a network of Protected Areas.<br />

    International Trade of Wild Species are Regulated both using the provisions Fauna and Flora Protection Ordinance a the Provisions of the Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES).</p>
    <br />
<h2>Protected Species</h2><br />
<h3>  the slender Loris </h3>
<p> 
    <img src="~/assets/img/imgsl.jpeg" /><br /><br />
    The red slender Loris is found in Sri Lanka while the gray slender loris is found in Sri Lanka and India. The two subspecies of red slender loris differ in their habitat preference, the lowland loris, L. t. tardigradus, favors wet lowland forests (up to 470 m above sea level) south western wet-zone of Sri Lanka while the mountain loris, L. t. nycticeboides, prefers cloud, montane, and highland evergreen forests at elevations of 1800–2300 m. The gray slender loris can be found in tropical rainforests, primary and some secondary, coastal acacia scrub forests, semi-evergreen forests, swamps, and bamboo groves up to 2000 m above sea level.
    <br />
        The slender lorises (Loris) are a genus of loris native to India and Sri Lanka. The genus comprises two species, the red slender loris found in Sri Lanka and the gray slender Loris from Sri Lanka and India. Slender lorises spend most of their life in trees, traveling along the tops of branches with slow and precise movements. They are found in tropical rainforests, scrub forests, semi-deciduous forests, and swamps. The primates have lifespans of approximately 15 years and are nocturnal. Slender lorises generally feed on insects, reptiles, plant shoots, and fruit.
        <br />
</p>

    <h2>Purple Faced Langur </h2>

    <p> 
        <img src="~/assets/img/imgmk.jpeg" />
        <br />
       
        The purple-faced langur (Semnopithecus vetulus), also known as the purple-faced leaf monkey, is a species of Old World monkey that is endemic to Sri Lanka. The animal is a long-tailed arboreal species, identified by a mostly brown appearance, dark face (with paler lower face) and a very shy nature. It is now listed among the 25 globally threatened primates in the world.at present there are four sub species of purple faced langurs in different parts of the Island.

        In the purple-faced langur, males are usually larger than females.<br /> <br />Males measure 50 to 67.1 cm (19.7 to 26.4 in) in head-body length with a tail of 67 to 85.1 cm (26.4 to 33.5 in). Females possess a head-body length 44.7 to 60 cm (17.6 to 23.6 in) and tail length of 58.9 to 82 cm (23.2 to 32.3 in).

        The pelage may generally vary from blackish to grayish. The species tends to have whitish to gray short ‘trousers’ rounded off by purplish-black faces with white sideburns. Part of the back is covered with whitish fur, and tail is also furred with black and white mixed colors. The feet and hands are also purplish-black in color. Size varies among the subspecies. Typically adults will weigh somewhere between 3.1 and 11.4 kg, averaging about 7.08 kg.

        The purple-faced langur is mostly folivorous, but will also feed on fruits, flowers, and seeds. While they normally avoid human habitations, fruit such as jak (Artocarpus heterophyllus), rambutan (Nephelium lappaceum), banana (Musa balbisiana), and mango (Mangifera indica) may contribute up to 50% to their diet in cultivated areas.

        Loud calls are often used to distinguish between individual purple-faced langurs. <br /><br />The elements of a call fall into three categories: harsh barks, whoops, and residuals. Individuals can be differentiated by the number of phrases and residuals within a call. Calls occur more often in the morning mostly stimulated by neighboring groups and territorial battles. More calls occur during sunny periods than cloudy. The fewest calls occur in the evening. Daytime calls usually aid in the defense of home ranges.
    </p>

</html>
